*{
  margin: 0; padding: 0;
  box-sizing: border-box;
}

body{
  background-color:rgb(100, 154, 241);
}

.caption{
  color:white;font-family:monospace;font-size:2rem;padding-left:4px;
  position: absolute; left:0; top: 0;
}